{{ form_start(form) }}

<div class="row mb-3">
    <div class="col-md-4">
        {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.type, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.gender, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4">
        {{ form_label(form.age, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.markingNumber, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.markingNumber, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.passportNumber, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.passportNumber, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        {{ form_label(form.appearance, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.appearance, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-8">
        {{ form_label(form.client, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
