{% extends 'base.html.twig' %}

{% block title %}Patient Details{% endblock %}

{% block body %}
    <h1 class="mb-4">Patient Details</h1>

    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Owner</th>
            <td>
                {% if patient.client %}
                    {{ patient.client.name }} {{ patient.client.lastName }}
                {% else %}
                    <em>No owner assigned</em>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ patient.name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ patient.type }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ patient.gender }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ patient.age }}</td>
        </tr>
        <tr>
            <th>Marking Number</th>
            <td>{{ patient.markingNumber }}</td>
        </tr>
        <tr>
            <th>Passport Number</th>
            <td>{{ patient.passportNumber }}</td>
        </tr>
        <tr>
            <th>Appearance</th>
            <td>{{ patient.appearance }}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between mt-3">
        <a href="{{ path('app_patient_index') }}" class="btn btn-secondary">Back to List</a>
        <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-warning">Edit</a>
        {{ include('patient/_delete_form.html.twig') }}
    </div>
{% endblock %}
