{% extends 'base.html.twig' %}

{% block title %}Examination Index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Examination List</h1>

        <table class="table table-bordered table-hover">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Shortcut</th>
                <th>Examination Name</th>
                <th>Norms</th>
                <th>Machine</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for examination in examinations %}
                <tr>
                    <td>{{ examination.id }}</td>
                    <td>{{ examination.shortcut }}</td>
                    <td>{{ examination.examinationName }}</td>
                    <td>{{ examination.norms }}</td>
                    <td>{{ examination.machine }}</td>
                    <td>
                        <a href="{{ path('app_examination_show', {'id': examination.id}) }}" class="btn btn-info btn-sm">Show</a>
                        <a href="{{ path('app_examination_edit', {'id': examination.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_examination_new') }}" class="btn btn-success">Create New Examination</a>
    </div>
{% endblock %}
