{% extends 'base.html.twig' %}

{% block body %}
    <header class="bg-light py-3">
        <div class="container text-center">
            <h1 class="mb-0">Appointment Journal</h1>
        </div>
        <!-- Logout button -->
        <div class="position-absolute top-0 end-0 p-3">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="text-dark text-decoration-none">Logout</a>
            {% endif %}
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <!-- Client Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clientDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Client
                        </a>
                        <ul class="dropdown-menu bg-light" aria-labelledby="clientDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_client_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_client_index') }}">List</a></li>
                        </ul>
                    </li>

                    <!-- Patient Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="patientDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Patient
                        </a>
                        <ul class="dropdown-menu bg-light" aria-labelledby="patientDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_patient_new') }}">New</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_patient_index') }}">List</a></li>
                        </ul>
                    </li>

                    <!-- Examination Dropdown -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="examinationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Examination
                            </a>
                            <ul class="dropdown-menu bg-light" aria-labelledby="examinationDropdown">
                                <li><a class="dropdown-item" href="{{ path('app_examination_new') }}">New</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_examination_index') }}">List</a></li>
                            </ul>
                        </li>

                        <!-- Warehouse Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="warehouseDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Warehouse
                            </a>
                            <ul class="dropdown-menu bg-light" aria-labelledby="warehouseDropdown">
                                <li><a class="dropdown-item" href="{{ path('app_drug_new') }}">Add Drug</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_drug_index') }}">List</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
