{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Client and Patient</h1>
    <div>
        <h2>New Client</h2>
        {{ form_start(client_form) }}
        {{ form_widget(client_form) }}
        <button class="btn">Save Client</button>
        {{ form_end(client_form) }}
    </div>
    <div>
        <h2>New Patient</h2>
        {{ form_start(patient_form) }}
        {{ form_widget(patient_form) }}
        <button class="btn">Save Patient</button>
        {{ form_end(patient_form) }}
    </div>
{% endblock %}
